*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}


body{
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display",
                "Helvetica Neue", Helvetica, Arial, sans-serif;
                background-color: #f5f5f6;
}

nav{
    width: 100%;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.navitems{
    margin: 0px 20px;
}

.emi{
    width: 100%;
    height: 78px;
    background-color: #ffffff;
    font-size: 14px;
    text-align: center;
    line-height: 78px;
}

.offer:hover{
    color: rgb(49, 49, 253);
    text-decoration: underline;
}

.store{
    height: 248px;
    margin: 0% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left{
    font-size: 70px;
    width: 50%;
    padding: 80px 0 64px;
}

.right{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    padding: 80px 0 64px;
}

.storetext{
    font-weight: 550;
    font-size: 26px;
    line-height: 1.1;
}

.link{
    margin-top: 15px;
}

.link a{
    color: #0066cc;
    font-size: 15px;
}

.link a:hover{
    text-decoration: underline;
}

.link a::after{
    content: " ↗";
}

.store-items-section{
    width: 90%;
    height: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0% 5%;
}

.store-items-flex{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.store-items-flex img{
    padding-bottom: 10px;
    width: 130px;
    height: auto;
}

.store-items-flex a{
    color: black;
    margin-top: 8px;
    font-weight: bold;
    font-size: 14px;
}

.store-items-flex a:hover{
    text-decoration: underline;
}

.store-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}